<!DOCTYPE html>
<html>
	<head>
		<title>Between Jobs AI || Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="apple-touch-icon" href="../static/assets/icons/favicon_package/apple-touch-icon.png">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../static/assets/icons/favicon_package/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/assets/icons/favicon_package/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/assets/icons/favicon_package/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/assets/icons/favicon_package/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../static/assets/icons/favicon_package/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../static/assets/icons/favicon_package/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../static/assets/icons/favicon_package/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../static/assets/icons/favicon_package/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="../static/assets/icons/favicon_package/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../static/assets/icons/favicon_package/favicon-16x16.png">
		<link rel="manifest" href="../static/assets/icons/favicon_package/site.webmanifest">
		<link rel="mask-icon" href="../static/assets/icons/favicon_package/safari-pinned-tab.svg" color="#8e62d7">
		<link rel="shortcut icon" type="image/png" href="../static/assets/icons/favicon_package/favicon-32x32.png"/>
		<link rel="mask-icon" href="../static/assets/icons/favicon_package/apple/safari-pinned-tab.svg" color="#8e62d7">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#8e62d7">
	</head>
	<body>
		<section class="main_page" id="home">
			<nav>
				<ul class="nav_list">

					<img src="../static/assets/images/logo.webp" class="logo" width="45" height="45">
					<li data-nav="home">
						<a href="#home" class="nav_item">
							<img src="../static/assets/icons/home_mini.webp" width="18" height="18" alt="home page icon">Home
						</a>
					</li>

					<li data-nav="features" class="features">
						<a href="#home" class="nav_item">
							<img src="../static/assets/icons/sparks_mini.webp" width="18" height="18" alt="features icon">Features
						</a>

						<div class="extend_wrapper"></div>
						<ul class="features_wrapper">
							<div class="triangle"></div>
							<div class="features_menu">
								<li data-nav="">
									<a href="#" class="nav_item">
										<img src="../static/assets/icons/background_remover_mini.webp" width="20" height="20" alt="background remover feature icon">Background Remover
									</a>
								</li>
								<li data-nav="">
									<a href="#" class="nav_item">
										<img src="../static/assets/icons/cleanup_mini.webp" width="18" height="18" alt="image sharpening feature icon">Image Sharpening
									</a>
								</li>
								<li data-nav="">
									<a href="#" class="nav_item">
										<img src="../static/assets/icons/resizer_mini.webp" width="20" height="20" alt="cropping tool feature icon">Cropping tool
									</a>
								</li>
								<li data-nav="">
									<a href="#" class="nav_item">
										<img src="../static/assets/icons/pdf_mini.webp" width="20" height="18" alt="Word to PDF convertor icon">Word to PDF
									</a>
								</li>
								<li data-nav="">
									<a href="#" class="nav_item">
										<img src="../static/assets/icons/word_mini.webp" width="20" height="20" alt="PDF to Word convertor icon">PDF to Word
									</a>
								</li>
								<li data-nav="">
									<a href="#" class="nav_item">
										<img src="../static/assets/icons/summary_mini.webp" width="20" height="20" alt="summarizer feature icon">Summarizer
									</a>
								</li>
							</div>
						</ul>
					</li>

					<li data-nav="">
						<a href="#" class="nav_item">
							<img src="../static/assets/icons/price_tag_mini.webp" width="17" height="15" alt="plans and pricing icon">Pricing
						</a>
					</li>
					<li data-nav="Register">
						<a href="#" class="nav_item">
							<img src="../static/assets/icons/regiester_user_mini.webp" width="18" height="18" alt="register icon">Register
						</a>
					</li>
					<!--<li data-nav="Login">
						<a href="#" class="nav_item">
							<img src="../static/assets/icons/login_mini.webp" width="18" height="18" alt="login icon">Login
						</a>
					</li>-->
					<li data-nav="About Us">
						<a href="#" class="nav_item">
							<img src="../static/assets/icons/info_mini.webp" width="18" height="18" alt="about developers icon">About Us
						</a>
					</li>
					<li data-nav="">
						<input type="checkbox" id="darkmode_switcher">
						<label for="darkmode_switcher">
							<svg class="sun" fill="#000000" width="30px" height="30px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<g id="SVGRepo_bgCarrier" stroke-width="0"/>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
								<g id="SVGRepo_iconCarrier"> <title>sun</title> <path d="M8.031 16.5c0 4.143 3.358 7.5 7.5 7.5s7.5-3.357 7.5-7.5-3.357-7.5-7.5-7.5c-4.142 0-7.5 3.357-7.5 7.5zM15.531 3.75l-2.109 4.219h4.219l-2.11-4.219zM24.543 7.457l-4.475 1.491 2.982 2.983 1.493-4.474zM10.994 8.948l-4.474-1.491 1.491 4.475 2.983-2.984zM6.969 14.359l-4.219 2.11 4.219 2.109v-4.219zM24.031 18.641l4.219-2.109-4.219-2.109v4.218zM15.531 29.25l2.109-4.219h-4.219l2.11 4.219zM20.068 24.052l4.475 1.491-1.492-4.475-2.983 2.984zM6.52 25.543l4.475-1.491-2.983-2.983-1.492 4.474z"/> </g>
							</svg>

							<svg class="moon" width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 17C10.952 18.6176 16.6829 8.75775 11 3C16.0007 3.13144 20 7.11149 20 12C20 16.9715 16.1188 21 11 21C7.77111 21 4.65938 19.4319 3 17Z" stroke-linejoin="round"></path> </g>
							</svg>
						</label>
					</li>

				</ul>
			</nav>

			<div id="particles-js"></div>

			<div class="main_text">
				<h1> Hi there! <br> I'm just an <span>unemployed AI</span> who's volunteering</h1>
				<h3> >> <span> Free. Easy. Quick. </span> <br> How may I assist you? </h3>
			</div>

			<div class="quick_menu">
				<!--<h4>Quick menu</h4>-->
				<div class="wrapper">
					<div class="removebg_option option">
						<a href="#">
							<img src="../static/assets/icons/background_remover.webp" alt="background remover feature in the quick menu">
							<p>Background Remover</p>
						</a>
					</div>
					<div class="removebg_option option">
						<a href="#">
							<img src="../static/assets/icons/cleanup_noise.webp" alt="image sharpening feature in the quick menu">
							<p>Image Sharpening</p>
						</a>
					</div>
					<div class="removebg_option option">
						<a href="#">
							<img src="../static/assets/icons/resize_file.webp" alt="Cropping tool feature in the quick menu">
							<p>Cropping Tool</p>
						</a>
					</div>
					<div class="removebg_option option">
						<a href="#">
							<img src="../static/assets/icons/pdf_file.webp" alt="Word to PDF feature in the quick menu">
							<p>Word to PDF</p>
						</a>
					</div>
					<div class="removebg_option option">
						<a href="#">
							<img src="../static/assets/icons/word_file.webp" height="45" alt="PDF to Word feature in the quick menu">
							<p>PDF to Word</p>
						</a>
					</div>
					<div class="removebg_option option">
						<a href="#">
							<img src="../static/assets/icons/summary.webp" alt="Summarizer feature in the quick menu">
							<p>Summarizer</p>
						</a>
					</div>
				</div>
			</div>

			<div class="main_image">
				<img src="../static/assets/images/thinking_unemployed_AI.webp" alt="Our site logo depicting a thinking Artificial Intelligence in umanoid form" height="637" width="475"/>
			</div>

			<div class="robot_arm">
				<img src="../static/assets/images/digital_arm_wave.webp" alt="A robot arm forming a water like wave when is touching with the index finger a surface" />
			</div>

			<!--<div class="upload">
				<input type="file" name="">
			</div>-->

			<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="JosaphatBitingo" data-description="Support me on Buy me a coffee!" data-message="Buy Josaphat a coffee ☕ 	Your support, no matter how small, is greatly appreciated! Thank you sooo much!" data-color="#5F7FFF" data-position="Right" data-x_margin="15" data-y_margin="40"></script>

		</section>


		<footer>
			<!--<p>Made with  &#128156;  by Josaphat & Esther</p>-->
			<p> &#9426; 2023 || All rights reserved</p>
		</footer>
	</div>
	</body>
	<script type="text/javascript" src="../static/js/script.js"></script>
	<script type="text/javascript" src="../static/js/particles/particles.js"></script>
		<script type="text/javascript" src="../static/js/particles/app.js"></script>
			<script type="text/javascript" src="../static/js/particles/particles.min.js"></script>
			


</html>
